# Python Artifacts
db.sqlite3
__pycache__/
*.pyc
**/__pycache__/

# Environment
.venv/
venv/
.ipynb_checkpoints
*.log
.idea/
.vs_code/
bot_logs/
scrape_handler/test/scrape_logs/
.env
scrape_handler/test/tmp_repo_dir/